
window {
  width:100wh;
}
body {
  background-color: white;
  color: white;
  font-family: 'Raleway';
  margin:0 auto;
}

.cf::before,
.cf::after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf::after {
  clear: both;
}

h2 {
  margin: 0;
  border-bottom: 7px solid #24BA9F;
  color: black;
  width: 30%;
  margin-bottom: 50px;
  margin-left: 30px;
  padding-top: 40px;
}


/*Header
====================================*/

header {
  background-color: black;
  text-transform: uppercase;
}
.container {
  font-size: 15px;
}
.logo span {
  color: #24BA9F;
}

.mainMenu {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: 180px;
  padding: 30px 0;
  list-style: none;
}

.menu {
  margin-left: 15px;
  font-weight: bold;
  padding:0 15px;
}

.logo {
  display: inline-block;
  font-weight: bold;
  padding: 30px 0;
  margin-left: 180px;
}

.main-header {
  position: relative;
  z-index: 1;
}

.mainMenu li {
  position: relative;
}

.mainMenu li:hover .podmenu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.podmenu {
  padding: 10px;
  background-color: black;
  list-style: none;
  padding: 10px;
  color: white;
  text-decoration: none;
  position: absolute;
  left:5px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  transform: translate(0, 30px);
}

.podmenu li a, .menu a {
  color: white;
  text-decoration: none;
}

.podmenu>li a:hover, .menu a:hover {
  color: #24BA9F;
}

.podmenu>li:hover>.podmenu {
  display: block
}


/*Sekcja 1
=========================*/

.znak {
  display: inline-block;
  height: 100%;
  width: 25px;
  line-height: 300px;
  position: relative;
  top: -205px;
  left: 80px;
}
.znak a {
  text-decoration:none;
  font-size: 60px;
  color: #24BA9F;
}

.znak2 {
  position: relative;
  top: -205px;
  right: -10px;
}

.article {
  background: linear-gradient(to bottom, rgba(252, 255, 244, 1) 0%, rgba(223, 229, 215, 1) 72%, rgba(179, 190, 173, 1) 100%);
  position: static;
  width: 100%;
  height: 500px;
  padding: 0;
}

per {
  width: 40%;
  margin: 0 auto;
}

.article h1 {
  font-size: 45px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 0 auto 50px auto;
}

h1 span {
  color: #24BA9F;
}

.article p {
  color: black;
  font-size: 16px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.article .text a {
  display: inline-block;
  background-color: #24BA9F;
  color: white;
  border-radius: 7px;
  text-decoration: none;
  padding: 15px 45px;
  font-weight: bold;
  margin-top: 30px;
}


.img {
  width:470px;
  display: inline-block;
  position: relative;
  top: 0;
  left:80px;
}


.text {
  display: inline-block;
  position: relative;
  top: -45px;
  height: 350px;
  width: 46%;
  margin:11% 0;
  text-align:center;
}

.slider li {
  display:none;
  height: 110%;
  width: 110%;
}
.slider .visible {
  display: inline-block;
}
.slider li:nth-child(2) {
  padding:35px;
}

/*Products
=================================*/

.produkt1,
.produkt2,
.opis {
  display: inline-block;
  margin: 25px;
  height: 225px;
}

.produkt1 {
  background-image: url(../imagesOk/box1_img.jpg);
}

.produkt2 {
  background-image: url(../imagesOk/box2_img.jpg);
}

.opis {
  border: 1px solid rgb(133, 122, 122);
  color: rgb(133, 122, 122);
  padding: 0;
}

.opis p {
  text-align: left;
  font-size: 15px;
  margin: 0 25px;
}

.opis span {
  margin-bottom: 15px;
  margin: 0 25px;
}

.productName {
  position: relative;
  background-color: rgba(235, 235, 235, 0.65);
  width: 329px;
  height: 45px;
  color: black;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 110px;
}

.products span {
  margin: 0;
  padding: 0;
  height: 60px;
  border-bottom: 7px solid #24BA9F;
  vertical-align: middle;
  margin-left: 35px;
  color: black;
}

.products {
  display: flex;
  width: 100%;
  justify-content: center;
}

.produkt1,
.produkt2,
.opis {
  width: 329px;
}


/*Cennik
===========================================*/

.cennik {
  background-color: #F1F1F1;
  padding-top: 35px;
  padding-bottom: 55px;
}

cennik h2 {
  width: 30%;
  margin-bottom: 50px;
}

.box {
  height: 480px;
  width: 30%;
  border: 1px solid #c2c2c2;
  display: inline-table;
  padding: 0;
  background-color: #F9F9F9;
  margin: 20px;
}

.howMuch {
  height: 120px;
  width: 120px;
  border: 1px solid gray;
  border-radius: 50%;
  color: #BBBBBB;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  padding: 15px 15px;
}

.howMuch00 {
  color: #24BA9F;
}

.howMuch span {
  font-size: 40px;
}

.standardPlan {
  background-color: #26c7a9;
}

.p1,
.p2,
.p3 {
  margin: 0;
  padding: 5px 10px;
  font-size: 22px;
  text-align: center;
}

.p1 {
  background-color: #E4E4E4;
  color: #919191;
}

.p2 {
  background-color: #F1F1F1;
  color: #919191;
}

.p3 {
  background-color: #FFFFFF;
  color: #BBBBBB;
}

h4 {
  color: #24BA9F;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: 100;
}

.h4 {
  color: white;
}

.button {
  background-color: #24BA9F;
  padding: 7px 11px;
  width: 120px;
  border-radius: 5px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.btn1 {
  margin-top: 190px;
  margin-bottom: 10px;
}

.btn2 {
  background-color: #FFFFFF;
  color: #24BA9F;
  margin-bottom: 10px;
  margin-top: 155px;
}

.btn3 {
  margin-bottom: 10px;
  margin-top: 120px;
}

.circle1,
.circle3 {
  position: absolute;
  margin-top: -35px;
  margin-left: 170px;
  height: 55px;
  width: 55px;
  background: #c2c2c2;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0 0 0 1px #c2c2c2;
}

.circle2 {
  position: absolute;
  margin-top: -35px;
  margin-left: 170px;
  height: 55px;
  width: 55px;
  background: white;
  border-radius: 50%;
  border: 11px solid #26c7a9;
}


/*Create chair
===============================================*/

.selection {
  padding-top: 60px;
  padding-left:65px;
  background-color: #F1F1F1;
  height: 400px;
}

.choose {
  display: inline-block;
  float: left;
}

select {
  height: 60px;
  width: 300px;
  border: 1px solid #24BA9F;
  margin: 10px;
  font-size: 20px;
  font-family: 'Raleway';
  margin-left: 30px;
  display: block;
}

.checkbox {
  margin-left: 30px;
  font-size: 20px;
}

#someChair {
  display: inline-block;
  width: 400px;
  height: auto;
  float: left;
}

.toPay {
  display: inline-block;
  float: left;
}

.total {
  border: 1px solid #26c7a9;
  width: 400px;
  border-collapse:collapse;
  background-color: white;
  color:gray;
  font-size:20px;
}
#totalToPay {
  text-align:right;
}
.total #chairName, #chairPrice, #totalToPay {
  font-size:25px;
  color:#26c7a9;
  font-weight:bold;
}
.total #chairPrice {
  width:100px;
  text-align:right;
}
.total #colorCost, #upholsteryCost, #deliveryCost {
  text-align:right;
}
.total tr td:first-child {
  border: none;
  border-right:1px solid #26c7a9;
}
.total tr {
  border:none;
  height:35px;
}
.total tr:last-child td {
  border-top:1px solid #26c7a9;
}
.toPay h2{
  margin-bottom:25px;
  margin-left:0;
  padding:0;
}
.toPay table {
  margin-bottom: 15px;
}


/*Contact
===============================================*/
form {
  display: inline-block;
  float: left;
  width: 60%;
  height: 500px;
  margin-right: 0;
  padding-left:35px;
}

.send {
  display: inline-block;
  float: right;
  width: 30%;
  height: 500px;
  margin-right: 80px;
}

input {
  display: block;
}

.name,
.email {
  height: 60px;
  width: 80%;
  border: 1px solid #24BA9F;
  margin: 10px;
  font-size: 20px;
  font-family: 'Raleway';
  margin-left: 30px;
}

.message {
  height: 250px;
  width: 80%;
  border: 1px solid #24BA9F;
  font-size: 20px;
  font-family: 'Raleway';
  margin-left: 30px;
}

.pass {
  font-family: 'Raleway';
  height: 50px;
  width: 200px;
  background-color: #24BA9F;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 80px;
  margin-left:26px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.checkbox {
  position: relative;
  margin-bottom: 40px;
  margin-top: 30px;
}

.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
}

.checkbox label {
  color: #919191;
  display: block;
  padding-left: 65px;
  position: relative;
}

.checkbox label::before,
.checkbox label::after {
  border: 1px solid #24BA9F;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}

.checkbox label::after {
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A') no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


/*Footer
======================================*/

footer {
  display: flex;
  width: 100%;
  color: #919191;
  font-size: 14px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.copyright {
  display: flex;
  width: 25%;
  padding: 0;
  margin-left:15px;
}

.social {
  justify-content: space-between;
  margin-left: 650px;
}

.log {
  text-transform: uppercase;
  font-size: 17px;
  justify-content: space-between;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 15px;
}

.log span {
  font-weight: bold;
}